rubka>=8.0.0
Pillow>=10.0.0
requests
pymongo[srv]==3.12.3 
motor==2.5.1 
marshmallow==3.14.1 
umongo==3.0.1 
bs4 
git+https://github.com/Joelkb/cinemagoer 
shortzy 
datetime 
pytz 
aiohttp
ffmpeg-python 
youtube_search
youtube-search-python==1.4.6
yt-dlp
youtube-dl

aiofiles
ytthumb
